<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Vaksin 80 |
		{% block title %}
			{{ block.super }}
		{% endblock title %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/testing.css' %}">
</head>
<body>
	<!-- navbar -->
	{% include 'inc/navbar.html' %}

	<!-- content -->
	{% block content %}
	{% endblock content %}

	<!-- footer -->
	{% include 'inc/footer.html' %}
</body>
</html>