<!-- templates/user/change-password -->

{% extends 'base.html' %}
{% block title %}{{ block.super }} Change password {% endblock title %}

{% block content %}

    <div class="container main-content mt-2 p-2">
        <div class="card p-3">
            <div class="card-body">
                <h4>Fill the following details to change your password</h4>
                <form method="POST" action="">
                     
                    <div class="mb-2 row">
                        <div class="col-sm-2">
                            <label for="id_old_password">Old password:</label>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <input 
                            	type="password" 
                            	name="old_password" 
                            	autocomplete="current-password" 
                            	autofocus class="form-control" 
                            	required id="id_old_password">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-sm-2">
                            <label for="id_new_password1">New password:</label>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <input 
                            	type="password" 
                            	name="new_password1" 
                            	autocomplete="new-password" 
                            	class="form-control" 
                            	required id="id_new_password1">
                        </div>
                        <span class="help offset-md-2">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </span>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-sm-2">
                            <label for="id_new_password2">New password confirmation:</label>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <input 
                            	type="password" 
                            	name="new_password2" 
                            	autocomplete="new-password" 
                            	class="form-control" 
                            	required id="id_new_password2">
                        </div>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}