<!-- templates/user/login.hml -->

{% extends 'base.html' %}
{% block title %}{{ block.super }} Log in {% endblock title %}

{% block content %}

    <div class="container main-content mt-2 p-2">
        <div class="card p-3">
            <div class="card-body">
                <h4>Enter your email and password to login</h4>
                <form method="POST" action="">
                     
                    <div class="mb-2 row">
                        <div class="col-sm-2">
                            <label for="id_username">Email Address:</label>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <input 
                            	type="text" 
                            	name="username" 
                            	autofocus autocapitalize="none" 
                            	autocomplete="username" 
                            	maxlength="254" 
                            	class="form-control" 
                            	required id="id_username">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-sm-2">
                            <label for="id_password">Password:</label>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <input 
                            	type="password" 
                            	name="password" 
                            	autocomplete="current-password" 
                            	class="form-control" 
                            	required id="id_password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <p class="p-3">
                <a href="/accounts/password-reset/">Reset Password</a> <br>
                <a href="/accounts/demo-login/" class="btn btn-success">Demo Login (Admin Account)</a>
            </p>
        </div>
    </div>

{% endblock content %}